<h3>Permintaan Reset Password</h3>
<p>Permintaan reset password Anda telah kami terima. Silakan klik tautan berikut
    untuk mereset password Anda:</p>
<p><a href='{{resetPasswordUrl}}'>{{resetPasswordUrl}}</a></p>
<p>Tautan berlaku selama {{resetPasswordTokenExpiryInMinutes}} menit.</p>
<p>Jika Anda tidak meminta reset password, abaikan email ini.</p>
