<h3>Permintaan Konfirmas OTP</h3>
<p>Kode OTP Anda adalah:
    <b>{{otp}}</b>. Kode ini berlaku selama
    {{otpExpiryInMinutes}}
    menit.</p>
<p>Harap jangan memberitahukan kode ini kepada siapapun.</p>
<p>Terima kasih.</p>
